/* GLOBALS */
body {
    /* This group of CSS attributes
    Allows the entirety of the screen
    to be occupied */
    width: 100%;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: -10px;
    /* Set the default background-color
    to be a light black color */
    background-image: url("bg2.jpeg");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: right top;
    /* Set the default font size to be 3 * the viewport value */
    font-size: 3vw;
    /* Disable the horizontal scrollbar */
    overflow-x: hidden;

    animation-name: backgroundscroller;
    animation-duration: 400s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

a {
    font-family: "Verdana";
    font-size: .5em;
    text-decoration: none;
}

a:link {
    color: #ADD8E6;
}

a:visited {
    color: #8FBC8F;
}

a:hover {
    color: #E0FFFF;
}

a:active {}

/* ID'S */

#navid {}

#catchphrase {
    top: -10vw;
    font-size: 4vw;
    font-family: 'Quattrocento';
}

#catchphrase:hover {}

#cp1 {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    transition: font-size .5s;
    position: relative;
    display: inline-block;
    z-index: 3;
}

#cp2 {
    animation: 2.25s ease-out 0s 1 slideInFromRight;
    transition: font-size .5s;
    position: relative;
    display: inline-block;
    z-index: 3;
}

#cpimage {
    max-block-size: 27.5vw;
    position: relative;
    float: right;
    top: -32vw;
    left: 0vw;
    opacity: 0;
    animation: 2s ease-in-out 3s 1 fadeIn;
    animation-fill-mode: forwards;
    z-index: 2;
}

#name {
    position: relative;
    top: -2vw;
    padding-left: 5vw;
    font-size: 3vw;
    opacity: 0;
    animation: 2s ease-in-out 3s 1 fadeIn;
    animation-fill-mode: forwards;
    z-index: 2;
}

#description {
    font-size: 2vw;
    padding-left: 5vw;
    opacity: 0;
    animation: 2s ease-in-out 5s 1 fadeIn;
    animation-fill-mode: forwards;
    z-index: 2;
}

#idbackground {
    /* Set the background color to be
    a tan color for the background section */
    /* background-color: #dcc089; */
    background-color: #333;
    color: gainsboro;
}

#edu {
    background-color: white;

    text-align: center;
    width: 100%;
    color: #333;
    padding-bottom: 20vw;
}
#edu.animate img{
    animation: fadeIn 5s forwards;
}

#eduintro {
    padding-top: 2vw;
}

#relevantedu {
    /* background-color: blue; */
    font-size: 1vw;
}

#irrelevantedu {
    /* background-color: green; */
    font-size: 1vw;
}

#eduButton {
    /* width: 100%; */
    color: white;
    background-color: #2a59e0;
    border: #2a59e0 1px;
    font-size: 1vw;
    float: center;
    padding: 1vw;
}

#eduButton:hover {
    background-color: lightblue;
}

#idprojects {
    /* Set the background color to be a 
    gray color for the projects section */

    /* Set the text color to be a light black
    in the projects section */
    /* color: #333; */
}

#idhobbies {}

#contact {
    /* Set the background color to be a
    white color for the contact section */
    background-color: white;
    /* Set the text color to be a light black
    in the contact section */
    color: #333;
}

/* CLASSES */


.section {
    /* Pad section content so it doesn't run right
    along the edges of the page */
    padding-top: 11vw;
    padding-bottom: 15vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    /* Set the text color to be white
    in the sections */
    color: white;
}

.backgroundpics {
    block-size: 15vw;
}

.backgroundboost {}

.education {
    transition: height .5s;
    display: inline-block;
    height: 20vw;
    width: 30%;
    /* margin: auto; */
    padding-top: 5vw;
    vertical-align: top;
    opacity: 1;
    /* border: 1px solid #ccc; */

    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0, 2, 1, 1);
}

.education.closed {
    max-height: 0px;
    opacity: 0;
    padding-top: 0vw;
}

.edupics {
    height: 15vw;
}

.background {}

.seemore {}

/* ANIMATIONS */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(1000%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(10%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes backgroundscroller {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 500% 500%, 400% 400%, 300% 300%, 200% 200%, 100% 100%;
    }
}