/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

/*
 * Base structure
 */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');

html,
body {
    height: 100%;
    background-color: #333;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    overflow-x:hidden;
}

.catchphrase:hover{
    font-size: 1.25em;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(400%);
    }

    100% {
        transform: translateX(0%);
    }
}

#cp1{
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
#cp2 {
    /* This section calls the slideInFromLeft animation we defined above */
    
    animation: 2.5s ease-in-out 0s 1 slideInFromRight;
}

img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    transition: y .5s;
}

.catchphrase{
    transition: font-size .5s;
    height:30em;
}

 h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 10em;
    justify-content: center;
    align-items: center;
}