@import '../global_variables';
@import '../global_states';

:host {
  min-width: 91.5%;
}

.template-project {
  position: relative;
  padding: 0;
  margin: 3.75rem auto 0;
  width: 100%;

  &:after {
    background: linear-gradient(adeg, darken(#F0F1F6, 2%) 0%, lighten(#e6e9f0, 1%) 100%);
    display: block;
    content: " ";
    top: 0;
    left: 16.67%;
    width: 110%;
    height: 260px;
    position: absolute;
    z-index: -100;
  }
}

.project-header {
  min-height: 145px;
  background-color: $light3;
  border: 1px solid $light1;
  padding: 1.25rem 1.75rem;
  position: relative;
  z-index: 500;
  @include box-shadow(0,1px,6px,rgba(0,0,0,0.15));
  @include border-radius(0.2rem);

  h1 {
    font-size: 2rem;
    color: $dark2;
    margin-bottom: 1.25rem;
  }

  ul {
    list-style: none;
    margin: 0;

    li {
      font-family: $mono;
      font-size: 0.75rem;
      color: $dark3;
    }
  }

  .build-status {
    left: auto;
    right: 2rem;
    top: 2rem;
  }
}

.empty {
  padding: 2rem 0;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  color: lighten($dark1, 10%);
  display: block;
  font-size: 1.125rem;
}

.project-status-bar {
  color: $active;
  background: $light2;
  font-size: 0.925rem;
  display: block;
  border: 1px solid $light1;
  margin-top: -1px;
  margin-bottom: 1rem;
  overflow-x: hidden;
  position: relative;
  z-index: 1100;
  @include box-shadow(0,2px,4px,rgba(0,0,0,0.15));

  img {
    max-width: 3rem;
    margin-top: -3px;
  }

  span {
    position: relative;
    display: inline-block;

    &:after {
      background-color: $light2;
      border-top: 1px solid $light1;
      height: 4px;
      width: 2000px;
      display: block;
      content: " ";
      position: absolute;
      right: 0;
      top: 0.45rem;
      @include border-radius(1rem,1rem);
    }
  }
}

.project-config-summary {

  strong {
    color: $dark2;
    display: block;
    margin-bottom: -1.5rem;
  }

  pre {
    padding: 1rem 0 0 2rem;
    font-size: 0.75rem;
    line-height: 1.425;
    color: $dark3;

    &:hover {
      color: $dark2;
    }
  }

  button {
    position: absolute;
    bottom: 0.12rem;
    min-width: 10rem;
    margin-left: 1.25rem;
    left: 75%;
  }
}

.build-list {
  margin: 1rem auto;

  .build-item {
    border: none;
    height: 42px;
    overflow: hidden;

    &:first-child {
      border-radius: 4px 4px 0 0;
      border: none;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
      border-bottom: 2px solid darken($light2, 6.67%);
    }

    a {
      text-align: left;
      padding: 0.25rem 1.25rem;
      margin: 0 0 0.25rem 0;
      overflow: hidden;
      width: 100%;
      display: inline-block;
      min-height: 42px;
      position: relative;
      background: rgba(255,255,255,0.67);
      @include box-shadow(0,1px,2px,rgba(0,0,0,0.15));
      @include transition;

      span {
        font-family: $mono;
        font-size: 0.825rem;
        line-height: 2.25;
        letter-spacing: -0.05em;
        color: darken($dark3, 10%);
        display: inline-block;
        @include transition;
      }

      .act-author {
        min-width: 12%;
      }

      .act-type {
        min-width: 20%;
      }

      .act-message {
        min-width: 30%;
      }

      .text-right {
        float: right;
      }

      .act-times {
        min-width: 32.5%;
      }

      .act-times-wrap {
        min-width: 100%;
      }

      .act-time-duration {
        min-width: 60%;
      }

      .act-time-ago {
        min-width: 40%;

        code,
        pre {
          border: none;
          outline: none;
          background: transparent;
          color: darken($dark3, 5%);
          padding: 0;
          font-family: $mono;
        }
      }

    }

    &:hover a,
    &:first-of-type a {
      background: white;

      &:after {
        opacity: 1;
        width: auto;
        right: 0.925rem;
      }

      .act-avatar {
        opacity: 1;
      }

      .act-state {
        .icon {
          background: white;
        }

        .spinner {
          background: white;
        }

        &:after {
          opacity: 0.5;
        }
      }

      div {
        color: $dark2;
      }
    }

    &:first-of-type {
      .act-state:after {
        top: 22px;
        height: 20px;
      }
    }
  }
}

#sidebar {
  background: #37b0e7 url('../assets/images/topo-pattern-white.png') repeat 20px 0;
  background-size: 376px auto;
  width: 56px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1100;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-position: -6px 0;
  }

  // app logo
  a.logo {
    background-color: #2541b2;
    position: relative;
    display: block;
    height: 58px;

    img {
      width: 36px;
      position: absolute;
      top: 11px;
      left: 10px;
    }

    &:hover {
      background-color: lighten($brand1, 10%);
    }
  }

  .icon {
    color: white;
    position: absolute;
    font-size: 1.25rem;
    left: 0;
    width: 56px;
    line-height: 50px;
    text-align: center;

    &:after {
      border: 1px solid #eee;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      content: ' ';
      display: block;
      margin: -40px 0 0 12px;
      @include transition;
    }

    &.brigade-docs-icon {
      bottom: 101px !important;
    }

    &.ion-md-document {
      bottom: 60px;
    }

    &.ion-md-help {
      bottom: 19px;
    }


  }

  #brigade-docs,
  #kashti-issues,
  #kashti-docs {

    &:hover {
      .icon:after {
        background: darken($brand2, 12.5%);
        @include box-shadow(0, 0, 25px, darken($brand2, 12.5%));
      }
    }

    em {
      display: block;
      min-height: 1rem;
      padding: 0.5em;
      position: absolute;
      left: 12px;
      opacity: 0;
      background: darken($brand2, 12.5%);
      border-radius: 0.2em;
      text-align: center;
      color: white;
      font-style: normal;
      font-size: 0.75rem;
      @include transition;
    }

    &:hover em {
      left: 48px;
      opacity: 1;
    }
  }

  #brigade-docs em {
    bottom: 5.3rem;
    min-width: 4.75rem;
  }

  #kashti-docs em {
    bottom: 3.75rem;
    min-width: 4.75rem;
  }

  #kashti-issues em {
    bottom: 1.2rem;
    min-width: 5.5rem;
  }
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 58px;
  display: flex;
  align-items: center;
  background-color: #2541b2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}


footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}


.button {
  width: 400px;
  height: 100px;
  color: white;
  position: relative;
  background: #2541b2;
  margin-bottom: 25px;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.button span {
  line-height: 100px;
  font-size: 40px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button-m {
  width: 200px;
  height: 50px;
  color: white;
  position: relative;
  background: #2541b2;
  margin: auto;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.button-m span {
  line-height: 47px;
  font-size: 25px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}

.button-m span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.button-m:hover span {
  padding-right: 25px;
}
.button-s {
  width: 100px;
  height: 25px;
  color: white;
  position: relative;
  background: #2541b2;
  margin: auto;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.button-s span {
  line-height: 24px;
  font-size: 17px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-s span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.button-s:hover span {
  padding-right: 25px;
}
.button-small {
  width: 100px;
  height: 21px;
  color: white;
  position: relative;
  background: #2541b2;
  border-radius: 32px;
  margin: 0 16px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.button-small span {
  line-height: 20px;
  font-size: 14px;
}

.button-color {
  width: 100px;
  height: 25px;
  color: white;
  position: relative;
  background: #1976d2;
  margin: 0 16px;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.button-color span {
  line-height: 24px;
  font-size: 14px;
}

.button-color:active {
  /* set time duration to your needs */
  animation: gradient 100ms;
  background: #f88;
  color: #fff;
  box-shadow: none;
}

@keyframes gradient {
  0% {
    background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #fff 0%, #fff 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3 ) 24%, #fff 25%, #fff 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.5 ) 49%, #fff 50%, #fff 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.8 ) 74%, #fff 75%, #fff 100%);
  }
  100% {
    color: #fff;
    background: radial-gradient(circle at center, #f88 99%, #fff 100%, #fff 100%);
  }
}

//Animation button styles

.container {
  align-items: center;
  background: #17b890;
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  display: flex;
  height: 35px;
  justify-content: center;
  position: relative;
  width: 135px;
}
.login {
  color: white;
  position: absolute;
  transition: opacity 300ms;
  user-select: none;
  -moz-user-select: none;
}

.logout {
  color: white;
  position: absolute;
  opacity: 0;
  user-select: none;
  -moz-user-select: none;
}

.login-welcome{
  text-align: center;
}

.fingerprint {
  /* height: 80px; */
  left: -8px;
  opacity: 0;
  position: absolute;
  stroke: #342e37;
  top: -9px;
  transition: opacity 1ms;
}
.fingerprint-active {
  stroke: #fff;
}
.fingerprint-out {
  opacity: 1;
}
.odd {
  stroke-dasharray: 0px 50px;
  stroke-dashoffset: 1px;
  transition: stroke-dasharray 1ms;
}
.even {
  stroke-dasharray: 50px 50px;
  stroke-dashoffset: -41px;
  transition: stroke-dashoffset 1ms;
}
.ok {
  opacity: 0;
}
.active.container {
  animation: 6s Container;
}
.active .login {
  opacity: 0;
  animation: 6s Text forwards;
}

.active .logout {
  opacity: 1;
  animation: 6s Logout forwards;
}

.active .fingerprint {
  opacity: 1;
  transition: opacity 300ms 200ms;
}
.active .fingerprint-base .odd {
  stroke-dasharray: 50px 50px;
  transition: stroke-dasharray 800ms 100ms;
}
.active .fingerprint-base .even {
  stroke-dashoffset: 0px;
  transition: stroke-dashoffset 800ms;
}
.active .fingerprint-active .odd {
  stroke-dasharray: 50px 50px;
  transition: stroke-dasharray 2000ms 1500ms;
}
.active .fingerprint-active .even {
  stroke-dashoffset: 0px;
  transition: stroke-dashoffset 2000ms 1300ms;
}
.active .fingerprint-out {
  opacity: 0;
  transition: opacity 300ms 4100ms;
}
.active .ok {
  opacity: 1;
  animation: 6s Ok forwards;
}

@keyframes Container {
  0% { width: 135px }
  6% { width: 38px }
  71% { transform: scale(1); }
  75% { transform: scale(1.2); }
  77% { transform: scale(1); }
  94% { width: 38px }
  100% { width: 135px; }
}
@keyframes Login {
  0% { opacity: 1; transform: scale(1); }
  6% { opacity: 0; transform: scale(0.5); }

  94% { opacity: 0; transform: scale(0.5); }
  //100% { opacity: 1; transform: scale(1); }
}
@keyframes Ok {
  0% { opacity: 0 }
  70% { opacity: 0; transform: scale(0); }
  75% { opacity: 1; transform: scale(1.1); }
  77% { opacity: 1; transform: scale(1); }
  92% { opacity: 1; transform: scale(1); }
  96% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 0 }
}

@keyframes Logout {
  0% { opacity: 0;}
  94% { opacity: 0; transform: scale(0.5); }
  100% {opacity: 1; transform: scale(1);  }
}

@keyframes login-w {
  100% {display:none;}
}


///images
.login-image{
  margin-top: 40px;
  width: 400px;
}

.login-image-white{
  width: 400px;
}
//Dashborard test


:host {
  padding: 0.925rem 4.25% 5rem;
  min-width: 91.5%;
}

.dash-wrapper {
  padding-top: 2rem;
}

@mixin icon {
  font-size: 2.333rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 500;
  background: white;
  border-radius: 50%;
}

.project-success {
  @include icon;
  color: $success;
}

.project-fail {
  @include icon;
  color: $fail;
}

.project-active {
  @include icon;
  @include spinnerDonut($brand1, 2.33rem, 0.25rem);
}

.project-unknown {
  @include icon;
  background-color: $light1;
  color: $light2;
  font-size: 2.5rem;
}

.project {
  position: relative;
  height: 180px;
  background: lighten($light3, 2.5%);
  margin: 1rem 0;
  border: 2px solid transparent;
  border-radius: 4px;
  @include box-shadow(0,2px,12px,rgba(0,0,0,0.2));
  @include transition;

  a {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 170px;
    text-decoration: none;

  }

  h2 {
    margin: 1.25rem 2rem 0 4.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: $dark1;
    @include nunitoBold;
    @include transition;
    @include wordwrap;
  }

  h4 {
    @include uppercase;
    font-size: 0.667rem;
    letter-spacing: 0.15em;
    color: darken($light1, 15%);
    margin: 0.5rem 0 1rem 4rem;
  }

  &:hover {
    background: white;
    border-color: rgba(55, 176, 231, 0.25);
    @include box-shadow(0,2px,7px,rgba(0,0,0,0.2));

    h2 {
      color: $brand2;
    }
  }

  .status {
    img {
      font-size: 2rem;
      text-align: left;
      width: 2rem;
      height: 2rem;
      display: none;
      position: absolute;
      top: 1.125rem;
      left: 1.25rem;
      z-index: 500;
      background: white;
      border-radius: 50%;
    }

    img {
      margin-top: -2px;
      margin-left: -4px;
      background: darken($light2, 5%);
    }

    &::before {
      font-size: 2rem;
      text-align: left;
      width: 2.5rem;
      height: 2.5rem;
      display: inline-block;
      position: absolute;
      top: 1rem;
      left: 1rem;
      z-index: 500;
      display: block;
      background: $light2;
      border-radius: 50%;
      border: 2px solid white;
      content: ' ';
    }

    &:after {
      width: 2px;
      height: 138px;
      background-color: lighten($light1, 5%);
      display: block;
      content: ' ';
      position: absolute;
      left: 2.15rem;
      top: 2.5rem;
      z-index: 300;
    }
  }

  .activity {
    ul {
      list-style: none;
      margin: 28px 0 0 4.5rem;

      li {
        font-family: $mono;
        color: $dark3;
        line-height: 1.6;
        font-size: 0.75rem;
        position: relative;

        &:before {
          display: block;
          content: ' ';
          width: 13px;
          height: 13px;
          background-color: $light1;
          @include transition;
          @include border-radius(50%, 50%);
          border: 2px solid white;
          position: absolute;
          z-index: 650;
          left: -43px;
          top: 3px;
        }

        &.error {
          color: $error;

          .icon {
            color: $brand2;
            margin-left: 1.5rem;
          }

          &:before {
            background-color: $error;
          }
        }

        &.active {
          color: darken($dark3, 10%);

          .icon {
            color: $brand2;
            margin-left: 1.5rem;
          }

          &:before {
            background-color: $brand2;
            animation: pulse 2s infinite;
          }
        }
      }
    }
  }

  &.project-empty {
    height: auto;
    padding: 1.25rem 2.5rem;

    h3 {
      font-size: 1.25rem;
      margin: 0.825rem 0 1.25rem;
    }

    p {
      font-size: 0.925rem;
      margin: 0 0 1rem;

      a {
        display: inline;
      }
    }
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(55, 176, 231, 0.4);
    }
    70% {
      -webkit-box-shadow: 0 0 0 10px rgba(55, 176, 231, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(55, 176, 231, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(55, 176, 231, 0.4);
      box-shadow: 0 0 0 0 rgba(55, 176, 231, 0.4);
    }
    70% {
      -moz-box-shadow: 0 0 0 10px rgba(55, 176, 231, 0);
      box-shadow: 0 0 0 10px rgba(55, 176, 231, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(55, 176, 231, 0);
      box-shadow: 0 0 0 0 rgba(55, 176, 231, 0);
    }
  }

  &.project-active {
    img.status-active {
      display: block;
      color: $active;
    }
  }
}

.large-up-2>.column, .large-up-2>.columns {
  -webkit-box-flex: 0;
  flex: 0 0 47%;
  max-width: 50%;
}

.column, .columns {
  padding-right: .9375rem;
  padding-left: .9375rem;
  min-width: 0;

}
.row {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
}

.project-success {
  font-size: 2.333rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 500;
  background: #fff;
  border-radius: 50%;
  color: #70ae29;
}

$brand-success: #5cb85c;
$loader-size: 7em;
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: ($loader-size/6 + $loader-size/12);
$check-thickness: 3px;
$check-color: $brand-success;

.circle-loader {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation: loader-spin 1.2s infinite linear;
  position: absolute;
  top: 19px;
  left: 28px;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: $check-color;
  transition: border 500ms ease-out;
}

.checkmark {
  display: none;

  &.draw:after {
    animation-duration: 100ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }

  &:after {
    opacity: 1;
    height: 1.0em;
    width: 0.5em;
    transform-origin: left top;
    border-right: 3px solid #5cb85c;
    border-top: 3px solid #5cb85c;
    content: "";
    left: 0.3em;
    top: 0.9em;
    position: absolute;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}

.template-project {
  position: relative;
  padding: 0;
  margin: 3.75rem auto 0;
  width: 100%;
}

.small-up-1>.column, .small-up-1>.columns {
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}

.project-header{
  in-height: 145px;
  background-color: #fbfbfd;
  border: 1px solid #e1e6ee;
  padding: 1.25rem 1.75rem;
  position: relative;
  z-index: 500;
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  border-radius: .2rem 3px;
}
